# Database (Nota a porta 5433 mapeada no docker-compose)
DATABASE_URL="postgresql://angolapay_user:angolapay_secret@localhost:5433/angolapay_db?schema=public"

# Kafka (Aponta para o nome do container na rede Docker, ou localhost se o NestJS rodar fora do docker)
KAFKA_BROKERS="localhost:9092"

# Redis
REDIS_URL="redis://localhost:6380"

# JWT Configuration
JWT_SECRET="angolapay-super-secret-key-change-in-production-2026"
JWT_EXPIRES_IN="1h"

# Admin API Key (para criar comerciantes)
ADMIN_API_KEY="admin-master-key-angolapay-2026"